<table class="blueTable" border="1" style="width: 30%;">
    <tr>
        <th>
            Expression
        </th>
        <td>
            {{ expression }}
        </td>
    </tr>
    <tr>
        <th>
            Result
        </th>
        <td>
            {{ result }}
        </td>
    </tr>
</table>
